/* >> CSS Style Sheet - My Technical World << */

body {
    font-family: calibri, serif;
    background-color: #ededed;
    width: 100%;
    height: 100%;
    margin: 0;
}

#anchor {
    background-color: #003e87;
}

#anchor img {
    width: 100%;
    max-height: 278px;
}

h1 {
    text-align: center;
}

.tech-world-span {
    color: rgb(0, 66, 144);
}

#main-nav {
    height: 2rem;
    background: #454545;
    width: 100%;
}

#main-nav .nav-item {
    padding-left: 3rem;
    padding-right: 3rem;
}

.d-down .drop-button {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.d-down .drop-button:before {
    content: '\FE3E';
    position: absolute;
    opacity: 0;
    top: 0.2rem;
    left: -15px;
    transition: 0.5s;
}

.d-down .drop-button:after {
    content: '\FE3E';
    position: absolute;
    opacity: 0;
    top: 0.2rem;
    right: -15px;
    transition: 0.5s;
}

.d-down:hover .drop-button:before, .d-down:hover .drop-button:after {
    opacity: 1;
    top: 0.8rem;
}

.drop_content {
    display: none;
}

.d-down:hover .drop_content {
    display: block;
    left: 34.5%;
    top: 2rem;
    position: absolute;
    background-color: #454545;
    border-radius: 0 0 8px 8px;
    z-index: 1;
}

.d-down:hover .drop_content .nav-link {
    padding: 0.15rem 1rem;
}

.d-down:hover .drop_content .nav-link:first-child {
    padding-top: 0.5rem;
}

.d-down:hover .drop_content .nav-link:last-child {
    padding-bottom: 1rem;
}

#right_top {
    width: 4rem;
    margin: 1rem 0;
    float: right;
    padding: 0;
    text-align: center;
    background-color: rgb(215, 215, 215);
    border-radius: 20px;
    box-shadow: 0 1px 10px 1px rgb(0, 0, 0.5);
}

#right_top a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(56, 56, 56);
}

#right_top a:active {
    font-weight: bold;
    color: rgb(185, 56, 56);
}

/* index.html - Start */

.body-link a {
    text-decoration: none;
}

.body-link a:visited {
    color: rgb(25, 25, 116);
}

.tooltip1 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin: 0;
}

.tip1_text {
    visibility: hidden;
    white-space: nowrap;
    background-color: #737373;
    color: #fff;
    text-align: center;
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: 50%;
    margin-left: -68px;
    opacity: 0;
    transition: opacity 0.2s;
}

.tooltip1 .tip1_text:after {
    position: absolute;
    border: 5px solid;
    border-color: #909296 transparent transparent transparent;
    content: "";
    top: 100%;
    left: 50%;
}

.tooltip1:hover .tip1_text {
    visibility: visible;
    opacity: 1;
}

/* index.html - End */

/* details.html - Start */

#details-div #details-header div {
    background-color: #454545;
}

#details-div #details-header div h5 {
    margin: 0;
    padding: 0.5rem 0;
    color: #f8f9fa;
}

.video-div iframe {
    width: 100%;
    height: 100%;
}

/* details.html - End */

/* gallery.html - Start */

#gallery #gallery-main-img {
    margin: auto;
    padding: 1rem;
}

#gallery #gallery-main-img img {
    background: url(images/bg.png) no-repeat 0 0;
    box-shadow: 0 0 5px 6px #848484;
}

#gallery ul {
    list-style: none;
    text-align: center;
}

#gallery ul li {
    display: inline-block;
    margin: 0.5rem 1rem;
}

#gallery ul li img {
    box-shadow: 0 0 0 4px #848484;
}

/* gallery.html - End */

/* contact.html - Start */

#contact-us #form-div {
    max-width: 40rem;
}

#contact-us #form-div #input-fields .form-row .col-3 span {
    line-height: 1.9rem;
}

legend {
    color: #8e8d8d;
    text-shadow: 0 1px 0 1px rgba(255, 255, 255, 0.5);
}

#contact-us #form-div #text-comments {
    width: 100%;
    max-height: 20rem;
}

/* contact.html - End */

/* Footer - Start */

#page-bottom {
    background-color: #003e87;
    min-height: 7.5rem;
}

#page-bottom #footer-navbar a {
    text-decoration: none;
}

#page-bottom #footer-navbar span {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#page-bottom .social-buttons li {
    width: 3rem;
    height: 3rem;
    background-color: #454545;
    border-radius: 0.5rem;
}

#page-bottom .social-buttons li:hover {
    background-color: #121416;
}

#page-bottom .social-buttons li a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.7rem 0.9rem;
}

/* Footer - End */
